@font-face {
    font-family: "Slabo 27" ;
    src: url(font/Slabo_27px/Slabo27px-Regular.ttf);
}
@font-face {
    font-family: "Open_Sans";
    src: url(font/Open_Sans/OpenSans-Bold.ttf);
}
body{
    margin: 0;
    background-image:url("img/fond.png");
}

header{
    background-color:rgb(20, 179, 182);
    border-top: 2px solid rgb(28, 151, 155);
    border-bottom: 2px solid rgb(28, 151, 155);
    margin-top: 40px;
    text-align: center;
    width: 100%;
    overflow: auto;
}
nav{
    font-family: "Slabo 27px";
    font-size: 27px;
    padding-right: 35px;
    padding-bottom: 10px;    
}
nav>ul>li{
    display: inline-block;
}
nav a{
    color: white;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
}
main{
    min-width: 800px;
    max-width: 1100px;
    margin: auto;
}
h1{
    font-family: "Slabo 27px";
    font-size: 2.5em;
    font-weight: 100;
}
p{
    font-family: "Open_Sans";
    padding: 5px;
    text-align: center;

}
.sec1{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}
h2{
    font-family: "Slabo 27px";
    text-align: center;
    font-size: 3.5em;
    font-weight: 200;
    margin: 10px;
}
span{
    color: rgb(19, 123, 124);
}
h3{
    font-family: "Slabo 27px";
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
    
}
.section2{
    width: 65%;
    background-color: rgb(182, 225, 226);
    padding: 40px 0;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.section2 p{
    text-align: left;
}
#recipe1, #recipe2{
    float: left;
    margin-right: 10px;
    border-radius: 60px;
}
.para1, .para2{
clear: both;
}
.article2{
    width: 40%;
    display: inline-block;
    margin-left: 30px;
    clear: both;
    overflow: auto;
vertical-align: top;
}
.article1{
    width: 40%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    clear: both;
    overflow: auto;
    vertical-align: top;
}
h3>i{
    color: rgb(16, 109, 110);
}
h4>i{
    color: whitesmoke;
}
aside{
    width: 30%;
    color: white;
border: 3px solid rgb(16, 109, 110);
background-color: rgb(20, 179, 182);
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    text-align: left;
vertical-align: top;
box-sizing: border-box;
    position: relative;
}
aside p{
    margin-top: 0px;
    text-align: left;
    font-weight: 100;

}
aside h4{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 600;
}
aside h5{
    font-size: 20px;
    margin-bottom: 0px;
    color: rgb(182, 225, 226);
}
aside>img{
    border-radius: 60px;
    position: absolute;
    top: -50px;
    right: -50px; 
}
aside span{
    color: rgb(182, 225, 226);
}
button{
    color: white;
    background-color:rgb(35, 134, 134);
    border: none;
    padding: 10px;
    float: right;
}
footer {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }
  
  footer p {
    margin-top: 0;
  }
  
  footer img {
    width: 50px;
  }